In [68]:
import pandas as pd
import matplotlib.pyplot as plt

#reading excel file

accident_data = pd.read_excel("UK-Accidents.xlsx")
accident_data

,status,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,police_force,accident_severity,number_of_vehicles,number_of_casualties,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,Unvalidated,2021010287148,2021,10287148,521508.0,193079.0,1,3,3,1,...,0,4,7,4,1,0,-1,1,-1,-1
1,Unvalidated,2021010287149,2021,10287149,535379.0,180783.0,1,2,2,3,...,5,4,1,1,0,0,-1,1,-1,-1
2,Unvalidated,2021010287151,2021,10287151,529701.0,170398.0,1,2,2,4,...,5,4,1,1,0,0,-1,1,-1,-1
3,Unvalidated,2021010287155,2021,10287155,525312.0,178385.0,1,1,1,1,...,4,4,1,1,0,0,-1,1,-1,-1
4,Unvalidated,2021010287157,2021,10287157,512144.0,171526.0,1,3,4,1,...,0,4,1,1,0,0,-1,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42353,Unvalidated,2021991050608,2021,991050608,390463.0,807320.0,99,2,1,1,...,0,1,1,1,0,0,-1,1,-1,-1
42354,Unvalidated,2021991050609,2021,991050609,340189.0,730701.0,99,2,2,1,...,0,1,1,1,0,0,-1,1,-1,-1
42355,Unvalidated,2021991050619,2021,991050619,319439.0,672954.0,99,3,2,1,...,0,1,1,1,0,0,-1,1,-1,-1
42356,Unvalidated,2021991050626,2021,991050626,371505.0,631450.0,99,2,1,1,...,0,1,1,1,0,0,-1,1,-1,-1
42357,Unvalidated,2021991050632,2021,991050632,131053.0,659860.0,99,3,1,1,...,0,1,1,1,0,0,-1,1,-1,-1

In [69]:
#dropping columns
accident_data1 = accident_data.drop(columns = ['status','accident_year','trunk_road_flag','urban_or_rural_area','lsoa_of_accident_location'])
accident_data1

,accident_index,accident_reference,location_easting_osgr,location_northing_osgr,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,Month,...,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,did_police_officer_attend_scene_of_accident
0,2021010287148,10287148,521508.0,193079.0,1,3,3,1,2021-01-01,January,...,6,0,0,0,4,7,4,1,0,1
1,2021010287149,10287149,535379.0,180783.0,1,2,2,3,2021-01-01,January,...,3,1204,0,5,4,1,1,0,0,1
2,2021010287151,10287151,529701.0,170398.0,1,2,2,4,2021-01-01,January,...,5,0,0,5,4,1,1,0,0,1
3,2021010287155,10287155,525312.0,178385.0,1,1,1,1,2021-01-01,January,...,6,0,0,4,4,1,1,0,0,1
4,2021010287157,10287157,512144.0,171526.0,1,3,4,1,2021-01-01,January,...,6,0,0,0,4,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42353,2021991050608,991050608,390463.0,807320.0,99,2,1,1,2021-05-23,May,...,6,0,0,0,1,1,1,0,0,1
42354,2021991050609,991050609,340189.0,730701.0,99,2,2,1,2021-05-31,May,...,6,0,0,0,1,1,1,0,0,1
42355,2021991050619,991050619,319439.0,672954.0,99,3,2,1,2021-05-30,May,...,6,0,0,0,1,1,1,0,0,1
42356,2021991050626,991050626,371505.0,631450.0,99,2,1,1,2021-05-31,May,...,6,0,0,0,1,1,1,0,0,1
42357,2021991050632,991050632,131053.0,659860.0,99,3,1,1,2021-05-31,May,...,3,846,0,0,1,1,1,0,0,1

In [70]:
#Total number of excidents
total_accidents = accident_data1['accident_index'].count()
print("Total number of accidents: " + str(total_accidents))

#Total number of casualties
casualties = accident_data1['number_of_casualties'].sum()
print("Total number of causalties: " + str(casualties))

#Total number of vehicles involved
vehicles_involved = accident_data1['number_of_vehicles'].sum()
print("Total number of vehicles involved: " + str(vehicles_involved))

Total number of accidents: 42358
Total number of causalties: 53174
Total number of vehicles involved: 78411

In [71]:
#count of accidents by month
accident_data1.groupby(['Month'])['Month'].count()

Month
April       8079
February    5158
January     5477
June        8344
March       6691
May         8609
Name: Month, dtype: int64

In [72]:
#count of accidents by day of the week
accident_data1.groupby(['day_of_week'])['day_of_week'].count()

day_of_week
1    4780
2    5889
3    6186
4    6237
5    6184
6    7117
7    5965
Name: day_of_week, dtype: int64

In [73]:
#count of accidents by light conditions
accident_data1.groupby(['light_conditions'])['light_conditions'].count()

light_conditions
1    33130
4     6469
5      245
6     1663
7      851
Name: light_conditions, dtype: int64

In [74]:
#count of accidents by severity
accident_data1.groupby(['accident_severity'])['accident_severity'].count()

accident_severity
1      535
2     8729
3    33094
Name: accident_severity, dtype: int64

In [75]:
#count of accidents by road surface conditions
accident_data1.groupby(['road_surface_conditions'])['road_surface_conditions'].count()

road_surface_conditions
-1      138
 1    31686
 2     8725
 3      392
 4      910
 5       61
 9      446
Name: road_surface_conditions, dtype: int64

In [76]:
#count of accidents by time interval
accident_data1.groupby(['Time_Group'])['Time_Group'].count()

Time_Group
00:00:00     1191
03:00:00      761
06:00:00     5026
09:00:00     5960
12:00:00     8471
15:00:00    10947
18:00:00     6911
21:00:00     3091
Name: Time_Group, dtype: int64